<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a mat-raised-button color="primary" (click)="select('2007B')">
                    2007B
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a mat-raised-button color="primary" (click)="select('2007B4')">
                    2007B4
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>