:host {
    display: block;
}

.container {
    display: flex;
    padding: 32px;
    gap: 32px;

    &--tree {
        flex: 30;
    }

    &--main {
        flex: 70;
    }
}

.clickable {
    cursor: pointer;
}

.xsd-tree--invisible {
    display: none;
}

.xsd-tree ul,
.xsd-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.xsd-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.xsd-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

mat-form-field {
    display: block;
    width: 100%;
}

mat-card {
    margin-bottom: 32px;
}